html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Inter;
}

header {
  background-color: #f3fffb;
}

/* nagivation ------ */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.6em 0;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.avatar img {
  width: 8.6em;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 2.8rem;
}

.nav-link {
  color: #71717a;
  font-size: 1.6rem;
  font-family: "Inter";
  font-weight: 500;
}

.nav-link:hover {
  color: #22bb87;
}

.header-toggle,
.header-close {
  display: none;
}

/* intro title ------ */
.header-title {
  width: 80%;
  margin: 0 auto;
}

.header-title p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 2.4rem;
  color: #71717a;
  margin-top: 2.5em;
}

.header-title h1 {
  font-family: "Open Sans";
  font-size: 4.8rem;
  font-weight: 700;
  color: #18181b;
  margin-top: 0.3em;
  line-height: 6.6rem;
  width: 90%;
  max-width: 1200px;
}

.btn {
  padding: 1.8rem 3.2rem;
  background-color: #22bb87;
  color: #ffffff;
  border: none;
  font-family: "Inter";
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 2.9em;
  margin-top: 1.9em;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0 8px 16px 0 rgba(206, 206, 206, 0.192),
    0 6px 20px 0 rgba(211, 211, 211, 0.151);
  transform: scale(1.05);
}

.header-title .new {
  color: #71717a;
  font-family: "Inter";
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 1.6em;
  padding-bottom: 6em;
}

.dot {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #08bd80;
  display: inline-block;
  margin-right: 0.6em;
}

/* Common section  */

.section {
  padding: 5em 0;
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.sub-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section h4 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 2.4rem;
  font-weight: 600;
  color: #18181b;
}

.sub-heading a {
  font-family: "Inter";
  font-weight: 600;
  font-size: 2rem;
  color: #71717a;
}

.sub-heading a:hover {
  color: #18181b;
}

.line {
  width: 50%;
  text-align: center;
}

.line img {
  width: 100%;
}

.lines {
  width: 250px;
  height: 1px;
  margin-left: 1em;
  margin-bottom: 0.3em;
  display: inline-block;
  background-color: #f0f0f0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .line {
    width: 34%;
  }
}

@media screen and (max-width: 768px) {
  .sub-heading a {
    display: none;
  }
  .line {
    width: 45%;
  }
}

@media screen and (max-width: 380px) {
  .line {
    width: 30%;
  }
  .lines {
    width: 160px;
  }
}

/* section-1 ( Work ) ------ */
/* part - 1 */

.first {
  display: flex;
  justify-content: center;
  margin-top: 6em;
}

.one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8em;
  background-color: #4f61f4;
  width: 100%;
}

.about-project {
  padding: 4em 2em 4em 6em;
  width: 60%;
}

.about-project p:first-child {
  font-family: "Inter";
  font-size: 1.4rem;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 0.6em 0;
}

.about-project p {
  font-family: "Inter";
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffffff;
  margin-top: 0.8em;
  line-height: 2.6rem;
  width: 80%;
}

.about-project h2 {
  font-family: "Open Sans";
  font-size: 3.4rem;
  font-weight: 700;
  color: #ffffff;
  width: 70%;
  min-width: 280px;
  line-height: 4.2rem;
}

.project-photo img {
  width: 90%;
}

.pro-visit {
  display: flex;
  align-items: center;
  margin-top: 2.4em;
}

.view-code {
  font-family: "Inter";
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  margin-left: 1.6em;
  color: #e0e0e0;
}

.view-code:hover {
  color: #ffffff;
}

.btn-web {
  min-width: 134px;
  color: #18181b;
  background-color: #ffffff;
  border: none;
  font-size: 1.6rem;
  font-family: "Inter";
  font-weight: 500;
  font-family: "Sofia Pro", sans-serif;
  padding: 0.8em 1.2em;
  border-radius: 2.9em;
  transition: 0.3s;
}

.btn-web:hover {
  box-shadow: 0 8px 16px 0 rgba(160, 160, 160, 0.192),
    0 6px 20px 0 rgba(155, 155, 155, 0.151);
  transform: scale(1.05);
}

/* part 2 ------ */
.second {
  display: flex;
  justify-content: center;
  margin-top: 6em;
}

.two,
.three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  border-radius: 0.8em;
}

.two {
  background-color: #9a45ff;
  margin-right: 2.6em;
}

.three {
  background-color: #22bb87;
}

.second .about-project {
  padding: 6em 0 3em 0;
  width: 85%;
}

.second .about-project h2 {
  width: 80%;
}

.second .project-photo {
  width: 80%;
}

.second .project-photo img {
  width: 100%;
}

.second .about-project p {
  width: 80%;
}

.btn-work {
  display: none;
}

/* section-2 ( About me ) ------ */
.about-me {
  display: flex;
  justify-content: space-between;
  margin-top: 6em;
  align-items: center;
}

.about-me p {
  font-family: "Inter";
  font-size: 1.6rem;
  font-weight: 400;
  color: #71717a;
  line-height: 2.8rem;
}

.photo img {
  width: 85%;
  margin-left: 3em;
}

.introduction {
  width: 50%;
  margin-right: 3em;
  padding-bottom: 6em;
}

/* section-3 ( Skills ) ------ */
.row-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 6em;
}

#code,
#design,
#tool {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230085FFFF' stroke-width='1' stroke-dasharray='5%2c 8' stroke-dashoffset='13' stroke-linecap='square'/%3e%3c/svg%3e");
  background-color: #fcfcfc;
  border-radius: 9px;
  width: 50%;
  padding: 2.6em;
}

#code {
  margin-right: 2.8em;
}

.circle {
  min-width: 7em;
  height: 7em;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #f3f3f3;
  display: inline-block;
  display: flex;
}

.circle p {
  font-size: 3rem;
  margin: auto;
}

.skill-set p {
  font-size: 1.6rem;
  color: #71717a;
  font-family: "Inter";
  font-weight: 400;
  margin-top: 0.2em;
  line-height: 2.2rem;
}

.skill-set {
  width: 65%;
  margin-left: 4.5em;
}

/* row -2  */
.row-2 {
  display: flex;
  justify-content: center;
  margin-top: 4.2em;
}

/* section-4 ( Contact ) ------ */
.section-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.contact {
  margin: 2em 0 5em 0;
  padding: 5em;
  text-align: center;
}

.contact h3 {
  font-family: "Open Sans";
  font-size: 3.2rem;
  font-weight: 700;
  align-items: center;
  color: #00071b;
  line-height: 4.6rem;
}

.contact p {
  font-family: "Inter";
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 1.4em;
  color: #71717a;
  line-height: 2.6rem;
}

.contact .btn {
  padding: 2.4rem 3.8rem;
  margin-top: 2em;
}

/*  Footer   */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 5rem 2rem;
  margin: 0 auto;
  border-top: 1px solid #f0f0f0;
}

.footer__nav {
  list-style: none;
  display: flex;
}

.footer__item {
  margin-right: 4em;
}

.footer p {
  font-family: "Inter";
  font-weight: 500;
  margin-left: 4em;
  font-size: 1.6rem;
  color: #18181b;
}

.footer__link {
  font-size: 2.4rem;
  text-decoration: none;
  color: #18181b;
}

.footer__link:hover {
  color: #22bb87;
}

/* Form*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__form input,
textarea {
  font-size: 1.6rem;
  font-family: "Sofia Pro", sans-serif;
  padding: 1.2rem 1.5rem;
  margin: 0.8em;
  border: 1px solid #ddd;
  border-radius: 0.3em;
  width: 100%;
}

.modal__form button {
  margin-top: 2em;
  min-width: 120px;
}

.btn-close-form {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* ---------------------------------------------------- */
/* Responsive (Tablet) */
@media screen and (max-width: 768px) {
  /* Navigation */
  .nav-bar {
    height: 10em;
    padding-top: 4em;
  }

  .avatar img {
    width: 6.5em;
  }

  .header-toggle {
    display: inline;
    color: #2f363f;
    width: 22px;
  }

  .header-close {
    color: #2f363f;
    position: absolute;
    right: 0.8em;
    display: block;
    font-size: 2.4em;
  }

  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #22bb87;
    color: rgb(0, 0, 0);
    width: 60%;
    height: 100vh;
    padding: 5em 0;
    z-index: 100;
    transition: 0.5s;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin: 3em 0;
  }

  .nav-link {
    color: #ffffff;
  }

  .show {
    right: 0;
  }

  /* intro title ------ */
  .header-title {
    width: 90%;
  }

  /* section-1 ( Work ) ------ */
  /* part - 1 */
  .first {
    margin-top: 3.2em;
  }
  .one {
    flex-direction: column;
  }
  .about-project {
    padding: 4em 0 3em 0;
    width: 85%;
  }
  .about-project h2 {
    min-width: 200px;
  }
  .about-project p {
    width: 100%;
  }
  .project-photo {
    width: 70%;
    text-align: center;
  }

  /* part 2 ------ */
  .second {
    flex-direction: column;
    margin-top: 3.2em;
  }

  .two,
  .three {
    width: 100%;
  }

  .two {
    margin-right: 0;
  }

  .three {
    margin-top: 3.2em;
  }

  .second .about-project {
    padding: 4em 0 3em 0;
  }

  .second .about-project p {
    width: 100%;
  }

  .second .project-photo {
    width: 70%;
    text-align: center;
  }

  /* section-2 ( About me ) ------ */
  .about-me {
    display: flex;
    flex-direction: column;
    margin-top: 3.2em;
  }
  .introduction {
    width: 100%;
    margin-right: 0;
  }
  .photo {
    width: 80%;
  }

  .photo img {
    width: 100%;
    margin-left: 0;
  }

  /* section-3 ( Skills ) ------ */
  .row-1 {
    flex-direction: column;
    align-items: center;
    margin-top: 3.2em;
  }
  #code,
  #design,
  #tool {
    width: 100%;
  }

  #code {
    margin-right: 0;
    margin-bottom: 2.4em;
  }

  .skill-set p {
    margin-top: 0.4em;
  }

  .skill-set {
    margin-left: 3em;
  }

  .row-2 {
    margin-top: 2.4em;
  }

  /* section -4 Contact */
  .contact {
    padding: 1em;
  }

  /*  Footer   */
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer p {
    margin-left: 0;
  }
  .footer__item {
    margin-right: 0;
    margin-top: 1.6em;
    padding: 1em;
  }

  /* Form */
  .modal {
    width: 90%;
    padding: 5rem 3rem;
  }
}

/* ---------------------------------------------------- */
/* Responsive (Mobile) */
@media screen and (max-width: 480px) {
  /* intro title ------ */
  .header-title {
    margin: 0 auto;
  }

  .header-title p {
    font-size: 1.8rem;
    margin-top: 1.5em;
  }

  .header-title h1 {
    font-size: 2.8rem;
    line-height: 3.4rem;
    margin-top: 0.5em;
    width: 100%;
  }

  .btn-Hi {
    width: 100%;
    padding: 1.4rem 1.8rem;
  }

  .header-title .new {
    text-align: center;
    padding-bottom: 2.4em;
  }

  /* Common section ------ */
  .section {
    padding: 5em 0 0 0;
  }
  .section h4 {
    font-size: 2rem;
  }

  /* section-1 ( Work ) ------ */
  .about-project h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .about-project p {
    font-weight: 400;
    line-height: 2rem;
  }
  .project-photo img {
    width: 90%;
  }
  .btn-work {
    display: block;
    width: 100%;
    padding: 1.4rem 1.8rem;
  }

  /* section-4 ( Contact ) ------ */
  .contact {
    padding: 0;
    margin: 0 0 5em 0;
  }
  .contact h3 {
    font-size: 2rem;
    margin-top: 2em;
    line-height: 3.2rem;
  }
  .contact .btn {
    padding: 1.4rem 1.8rem;
  }
}
